.events
  box-sizing: border-box
  width: 760px
  margin: 80px auto
  text-align: center

.events-lockup
  margin-left: 100px

.event
  box-sizing: border-box
  margin: 60px auto
  text-align: left
  +clearfix

  &:last-child
    margin-bottom: 90px

  .date
    width: 70px
    margin: auto 37px 0 74px
    text-align: center
    background-color: $primary-color
    border-radius: 4px
    float: left

    h3
      color: white
      font-weight: 100
      margin: 5px

  .info
    width: 440px
    padding-left: 37px
    border-left: 1px solid #bbb
    float: right

    h4
      color: #333
      margin: 0

    em
      color: #666
      padding-bottom: 2px
      border-bottom: 1px solid #666

    p:last-child
      margin-bottom: 0

@media screen and (max-width: 760px)
  .events
    width: 100%
    padding: 0 10px

    .events-lockup
      margin: auto

      .date
        margin-left: 10%

      .info
        width: 60%
        margin-right: 20px
        float: left

@media screen and (max-width: 560px)
  .event
    text-align: justify

    .date
      margin: auto

    .info
      border: none

@media screen and (max-width: 450px)
  .events .events-lockup .date
    margin: auto auto 40px auto

  .event .date
    float: none

  .events .events-lockup .info
    box-sizing: border-box
    width: 100%
    margin: auto
    padding: 0 10px

    h4, p
      text-align: center

    p:last-child
      text-align: justify
