html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background: 0 0; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: 700; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(//themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format("woff"); }
.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
  color: #b22217;
  font-weight: bold; }

.gigantic {
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px; }

.huge, h1 {
  font-size: 68px;
  line-height: 1.05;
  letter-spacing: -1px; }

.large, h2 {
  font-size: 42px;
  line-height: 1.14; }

.bigger, h3 {
  font-size: 26px;
  line-height: 1.38; }

.big, h4 {
  font-size: 22px;
  line-height: 1.38; }

.small, small {
  font-size: 10px;
  line-height: 1.2; }

p {
  margin: 0 0 20px 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

a {
  color: #b22217;
  text-decoration: none;
  outline: 0; }

a:hover, a:focus {
  color: #e75348; }

::selection {
  background: #b7a790; }

::-moz-selection {
  background: #b7a790; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: #b7a790; }

body {
  background: #eee;
  font-size: 14px;
  line-height: 1.6;
  font-family: "Open Sans" sans-serif;
  color: #222;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

header {
  background-color: white;
  text-align: center; }

.logo {
  width: 960px;
  padding: 40px 0;
  margin: auto; }
  .logo img {
    max-width: 100%; }

.nav-bar {
  background-color: #b22217;
  display: block;
  min-height: 60px; }
  .nav-bar:after {
    content: "";
    display: table;
    clear: both; }

nav {
  width: 960px;
  margin: auto; }
  nav h1 {
    text-align: left;
    color: white;
    font-size: 2em;
    font-weight: 200;
    margin: auto 0 10px 10px;
    padding-top: 20px;
    float: left; }
  nav ul {
    list-style: none;
    margin: auto 10px auto 0;
    float: right;
    padding: 25px 0;
    -webkit-padding-start: 0; }
  nav li {
    display: inline; }
    nav li:nth-child(2) {
      margin-left: 20px; }
  nav a {
    padding: 15px;
    border: 1px solid white;
    border-radius: 5px;
    color: white; }
    nav a:hover {
      color: #b22217;
      background-color: white; }
    nav a:focus {
      color: #cccccc; }

.hero {
  height: 400px;
  background: url(../images/cross_hands.jpg) no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  margin-bottom: 80px; }

@media screen and (max-width: 960px) {
  .logo {
    max-width: 97%; }

  nav {
    max-width: 100%; } }
@media screen and (max-width: 760px) {
  nav h1, nav ul {
    float: none;
    clear: none;
    text-align: center;
    margin: auto 10px 10px 10px; }

  nav h1 {
    margin: auto 0 10px 0; }

  nav ul {
    margin: 0 auto 15px auto; } }
@media screen and (max-width: 480px) {
  .hero {
    height: 200px;
    margin-bottom: 40px; } }
#about {
  width: 760px;
  margin: 80px auto;
  text-align: center; }
  #about h2 {
    font-weight: 200;
    padding-bottom: 5px;
    border-bottom: 1px solid #b22217; }
  #about p {
    text-align: left; }

@media screen and (max-width: 760px) {
  #about {
    max-width: 100%;
    margin: 40px auto 40px auto; }
    #about p, #about h2 {
      margin-right: 10px;
      margin-left: 10px; } }
.newsletter {
  background-color: #333; }

.lockup {
  box-sizing: border-box;
  width: 960px;
  margin: auto;
  padding: 30px 10px 0 10px; }
  .lockup:after {
    content: "";
    display: table;
    clear: both; }
  .lockup .content {
    color: white;
    float: left; }
    .lockup .content h3 {
      font-size: 2em;
      font-weight: 100;
      margin-bottom: 8px;
      color: white; }

.subscribe {
  float: right;
  margin-top: 25px;
  text-align: right; }
  .subscribe .hidden {
    position: absolute;
    left: -5000px; }
  .subscribe #mce-EMAIL {
    min-width: 440px;
    height: 25px;
    border-radius: 4px;
    padding: 8px; }
    .subscribe #mce-EMAIL:focus {
      border: 2px solid #b22217; }
  .subscribe .button {
    margin: 10px auto 35px auto;
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: #b22217;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 2px black; }
    .subscribe .button:hover {
      transform: translate(-2px, -2px);
      box-shadow: 4px 4px 4px black; }

@media screen and (max-width: 960px) {
  .lockup {
    width: 100%; } }
@media screen and (max-width: 840px) {
  .newsletter {
    text-align: center; }

  .lockup .content, .subscribe {
    float: none; }

  .subscribe {
    text-align: center; } }
@media screen and (max-width: 460px) {
  .subscribe #mce-EMAIL {
    min-width: 220px; } }
.contact {
  box-sizing: border-box;
  background-color: #b22217;
  padding: 40px 10px; }

.contact .content {
  width: 960px;
  margin: auto;
  padding: 0 10px; }
  .contact .content h2 {
    color: white;
    text-align: center;
    font-weight: 200;
    border-bottom: 1px solid white; }

.contact-lockup:after {
  content: "";
  display: table;
  clear: both; }
.contact-lockup p {
  color: white;
  width: 320px;
  margin-right: 40px;
  padding-right: 40px;
  float: left; }
.contact-lockup .contact-form {
  box-sizing: border-box;
  width: 560px;
  padding-left: 40px;
  text-align: right;
  float: right;
  transform: translate(0, -17px); }
  .contact-lockup .contact-form label {
    display: none; }
  .contact-lockup .contact-form input {
    /*box-sizing: border-box */
    width: 500px;
    height: 20px;
    border-left: 2px solid #8a0000;
    border-top: 2px solid #8a0000;
    border-radius: 4px;
    padding: 8px; }
    .contact-lockup .contact-form input:focus {
      border: 2px solid #b7a790; }
  .contact-lockup .contact-form #contact-submit {
    width: auto;
    height: auto;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: #333;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 2px black; }
    .contact-lockup .contact-form #contact-submit:hover {
      transform: translate(-2px, -2px);
      box-shadow: 4px 4px 4px black; }

@media screen and (max-width: 980px) {
  .contact .content {
    width: auto; }

  .contact, .contact-lockup .contact-form {
    text-align: center; }

  .contact-lockup p, .contact-lockup .contact-form {
    width: auto;
    margin: 20px auto;
    padding: inherit; }

  .contact-lockup p, .contact-lockup .contact-form {
    float: none; } }
@media screen and (max-width: 540px) {
  .contact-lockup .contact-form input {
    width: 220px; } }
.directions-content {
  box-sizing: border-box;
  width: 810px;
  margin: 80px auto;
  padding: 0 10px;
  text-align: center; }
  .directions-content h2 {
    font-weight: 200;
    padding-bottom: 5px;
    border-bottom: 1px solid #b22217; }

.directions-lockup {
  text-align: left;
  margin-top: 60px; }
  .directions-lockup:after {
    content: "";
    display: table;
    clear: both; }
  .directions-lockup .col-3 {
    box-sizing: border-box;
    width: 245px;
    margin: 0 10px;
    float: left; }
    .directions-lockup .col-3:first-child {
      margin-left: 15px; }
    .directions-lockup .col-3:last-child {
      margin-right: 0; }
  .directions-lockup h4 {
    color: #333;
    font-size: 1.5em;
    font-weight: 200; }
  .directions-lockup img {
    border: 2px solid #b7a790;
    border-radius: 4px; }
  .directions-lockup p {
    color: #444;
    margin-top: 10px; }
  .directions-lockup .button {
    margin: 10px auto 35px auto;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #b22217;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 2px black; }
    .directions-lockup .button:hover {
      font-size: 1.03em;
      box-shadow: 4px 4px 4px black; }

@media screen and (max-width: 810px) {
  .directions-content {
    width: 100%; }

  .directions-lockup {
    text-align: center; }
    .directions-lockup .col-3 {
      float: none;
      width: 100%;
      margin: 0 auto 60px auto; }
      .directions-lockup .col-3:last-child {
        margin: 0 auto; } }

/*# sourceMappingURL=main.css.map */
